body {
  background-color: #330000;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

body::after {
  content: "";
  background-image: url('./assets/result.png');
  background-size: 20%;
  background-position: 25%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
  background-repeat: repeat;
}

/* background img is a customization of this free pattern provided @ 
'Halftone background image designed by vectorstock at VectorStock.com'
https://www.vectorstock.com/royalty-free-vector/halftone-background-vector-53132 */

.home-container {
  display: flex; 
  flex-direction: column;
  padding: 30px;
  height: 400px;
  transition: all 2s ease;
}

.no-overflow {
  overflow: hidden;
}

.mix-blend-mode-diff {
  background-color:rgb(75, 21, 21, 1);
  mix-blend-mode: luminosity;
}

.bg-z {
  z-index: -3;
}

.home-height {
  height: 450px;
}
.home-width {
  width: 90vh;
  flex-shrink: 0;
}
.home-width-2 {
  width: 93vh;
}

.pos-absolute {
  position: absolute;
  padding: 30px;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow-x: hidden;
  transition: all 2s ease;
}

.page-height {
  height: 75vh;
  overflow-y: hidden;
}

.tiers-stacks {
  display: flex;
  flex: 0 22%;
  margin: 30px;
  justify-content: center;
  background-color:moccasin;
  cursor: default;
  transition: all 3s ease;
}

.hue-rotate {
  filter: hue-rotate(45deg);
}

.bg-board {
  background-color: #ebe5e5;
}

.offset-text {
  position: relative;
  top: 50px;
  margin: 0 auto;
  font-size: 2.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:lightsalmon;
  cursor: default;
  transition: all 2.25s ease;
  z-index: 3;
  text-shadow: -3px 5px 15px #fff;
}

.offset {
  top: 47px;
}

.color-shifter {
  animation: change-background 4s linear infinite;
  cursor: pointer;
}

.loading {
  cursor: progress;
}

.color-shifter-end {
  animation: change-background 4s linear;
  animation-fill-mode: forwards;
}

@keyframes change-background {
  0% {
    background-color:moccasin;
  }
  25% {
    background-color:navajowhite;
  }
  50% {
    background-color:sandybrown;
  }
  75% {
    background-color:navajowhite;
  }
  100% {
    background-color:moccasin;
  }
}

.left-right {
  position: absolute;
  animation: left-to-right 4.5s infinite;
  transition: all 2.25s ease;
  pointer-events: none;
  z-index: -5;
}

.btn-start {
  top: 40px;
  font-size: 3.5em;
  font-weight: bolder;
  background-clip: text;
}

@keyframes left-to-right {
  0% {
    left: 25%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 25%;    
  }
}

/* https://web.dev/css-border-animations/ */
.start {
  --outline: 3px solid #ffc011;
  outline: var(--outline);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-width 300ms ease, outline-offset 300ms ease;
  -webkit-transition: outline-width 300ms ease, outline-offset 300ms ease;
}

.start:hover,
.start:focus {
  outline: var(--outline);
  box-shadow: 0px 0px 0px 1px #fff inset;
  outline-width: 12px;
  outline-offset: -8px;
}

.display-none {
  display: none;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.line-1 {
  position: relative;
  top: 73%;  
  width: 24em;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  transition: all 1s ease;
}
.line-2 {
  top: 75%;  
}

.gradient-text {
  background: linear-gradient(90deg, #141414 0%, #8a4e4e 45%, #474747 99%);
  background-clip: content-box;
  background-size: 33%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.anim-typewriter{
  animation: typewriter 6s ease-out 1s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

/* outline snap */
.begin-outline {
  outline: var(--outline);
  outline-width: 12px;
  outline-offset: -8px;
}

/* div outline fx */
.transition-from {
  --spillOutline: 6px solid #fcd874;
  outline: var(--spillOutline);
  border: var(--spillOutline);
  outline-offset: -2px;
  transition: outline-width 3000ms ease, outline-offset 3000ms ease;
}
.transition-to {
  outline: var(--spillOutline);
  outline-width: -300px;
  outline-offset: -100px;
}

.play-outline-def {
  border: 3px double #dcd6d6;
  outline: 7px solid rgb(252, 252, 252, .5);
}

.fade-out {
  opacity: 0;
}

/* gamephase [1] intro */
/* ---->---->---- */
.para-house {
  position: absolute;
  width: 100px;
	height: 50px;
	transform: skew(20deg) rotate(120deg);
	background: linear-gradient(90deg, #0202027d 0%, #552828 27%, #5c2e2e5a 125%);
  transition: all 2.5s ease;
  overflow-x: hidden;
  right: calc(var(--vw) * .01);
  flex: 0;
}

.para-patron {
  position: absolute;
  width: 100px;
	height: 50px;
	transform: skew(-20deg) rotate(-120deg);
  background: linear-gradient(90deg, #02020229 0%, #552828 27%, #5c2e2e5a 125%);
  transition: all 2.5s ease;
  overflow-x: hidden;
  left: calc(var(--vw) * .01);
  flex: 0;
}

.flip {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color:#992c2c;
  font-size: 2em;
  position: absolute;
  transform: rotate(-90deg);
  margin: 0;
}

.score-text {
  position: absolute;
  background-clip: content-box;
  margin: 5px;
  left: 50%;
  font-family: Gill Sans, sans-serif;
  font-size: 1.9em;
  font-weight: bold;
  color: #cdbbbb;
  mix-blend-mode: screen;
}

.score-1 {
  transform: rotate(-90deg);
}

.flip-2 {
  font-family: sans-serif;
  font-weight: bold;
  color:#2e3fa3;
  font-size: 2em;
  position: absolute;
  transform: rotate(90deg);
  margin: 0;
}

.score-2 {
  transform: rotate(90deg);
}

.fly-in-l {
  animation: flyInLeft 2.5s ease-in-out;
}

.fly-in-r {
  animation: flyInRight 2.5s ease-in-out;
}

@keyframes flyInLeft {
  0% {
    opacity: .2;
    right: calc(var(--vw) - 10vw);
  }
  100% {
    opacity: 1;
    right: calc(var(--vw) * .01);
  }
}
@keyframes flyInRight {
  0% {
    opacity: .2;
    left: calc(var(--vw) - 10vw);
  }
  100% {
    opacity: 1;
    left: calc(var(--vw) * .01);
  }
}

.lean-l {
  transition: 2s;
}

.lean-r {
  transition: 2s;
}

/* gamephase [2] deal-btn */
/* ---->---->---- */
.move-l {
  margin-left: 10px;
  margin-right: 5px;
}

.move-r {
  margin-right: 10px;
  margin-left: 5px;
}

.deal-container {
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%,-50%) scale(0.94);
  margin: 0;
}

/* https://codepen.io/stix/pen/vgYwzG */
figure {
  perspective: 500px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.figure-hover:hover {
  backdrop-filter: saturate(50%) blur(14px);
  background-color: rgba(121, 22, 22, 0.5);
  transition: background-color 0s ease-in-out;
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
  opacity: 1;
}

.btn-flip {
  transform: rotateX(-90deg);
}

figure div span {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #9f9f9f95;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: uppercase;
}

figure div span:nth-child(1) {
  transform: translate3d(0, 0, 30px);
  color:#ffffff;
  background-color: rgba(98, 25, 25, 0.5);
  backdrop-filter: saturate(150%) blur(14px);
}

figure div span:nth-child(2) {
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  background: rgb(255, 255, 255, .2);
}

/* https://codepen.io/alvarotrigo/pen/ExvqdNa */
.fade-in {
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 2s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* gamephase [3] deal-cards */
/* ---->---->---- */
.card-container-d {
  display: inline-flex;
  transition: width 1.5s ease-in-out;
  width: 40vw; 
  justify-content: flex-end;
  flex: 0;
}

.width {
  width: 1vw !important;
  transition: width 1.5s ease-in;
}

.width-10 {
  width: 10vw !important;
  transition: width 1.5s ease-in;
}

.width-5 {
  width: 5vw;
  transition: width 1.5s ease-in;
}

.width-100 {
  width: 100px;
}

.card-container-p {
  display: inline-flex;
  transition: width 1.5s ease-in-out;
  width: 40vw;
  justify-content: flex-start;
  flex: 0;
}

.card-container-p img, .card-container-d img {
  transition: margin 1.5s ease-in-out;
}

img { 
  height: 5em;
  width: 3.8em;
}

/* gamephase [4] select-option */
/* ---->---->---- */
.hit-container {
  position: absolute;
  left: 50px;
  padding-right: 18px;
  transform: rotate(-90deg);
  transition: opacity 2s ease, left 2s ease, width 2s ease, height 2s ease, z-index 2s ease;
}

.action-btn {
  width: 6rem;
  height: 3rem;
  background-color: #c7c7c797;
  color: #5b5b5b;
  border: 3px solid black;
  outline: 5px dashed #ad4646ca;
  padding-bottom: 11px;
  box-shadow: 0 0 0 5px #382b2b;
  z-index: 5;
}

.hit-txt {
  transform: rotate(75deg); 
  padding-left: 50px;
  padding-bottom: 30px;
}

.action-font {
  font-weight: bolder;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration-line: overline;
  display: block;
}

.stand-txt {
  transform: rotate(-75deg); 
  padding-left: 10px;
  padding-bottom: 30px;
}

.stand-container {
  position: absolute;
  right: 50px;
  padding-left: 18px;
  transform: rotate(90deg);
  transition: opacity 2s ease, right 2s ease, width 2s ease, height 2s ease, z-index 2s ease;
}

.pop-out-l {
  opacity: 0;
  transition: left 1.5s linear, opacity 1s linear;
}

.out-l {
  opacity: 1;
  left: 0;
  cursor: pointer;
}

.pop-out-r {
  opacity: 0;
  transition: right 1.5s linear, opacity 1s linear;
}

.out-r {
  opacity: 1;
  right: 0;
  cursor: pointer;
}

.appear-l {
  z-index: 5;
  left: 0;
  width: 6rem;
  height: 3rem;
}
.disappear-l {
  z-index: -5;
  left: 25px;
  width: 5.5rem;
  height: 2.5rem;
}
.appear-r {
  z-index: 5;
  right: 0;
  width: 6rem;
  height: 3rem;
}
.disappear-r {
  z-index: -5;
  right: 25px;
  width: 5.5rem;
  height: 2.5rem;
}

.stack-l img {
  margin-right: -12px;
}

.stack-r img{
  margin-left: -12px;
}

/* MEDIA QUERIES */
/* small laptop */
@media screen and (max-width: 980px) {
  body::after {
    background-size: 30%;
    background-position: 45%;
  }

  .para-house {
    right: calc(var(--vw) * .4);
  }
  .para-patron {
    left: calc(var(--vw) * .4);
  }

  .home-width {
    width: 95vh;
  } 
  .home-width-2 {
    width: 100vh;
  }

  @keyframes flyInLeft {
    0% {
      opacity: .2;
      right: calc(var(--vw) - 10vw);
    }
    100% {
      opacity: 1;
      right: calc(var(--vw) * .4); 
    }
  }
  @keyframes flyInRight {
    0% {
      opacity: .2;
      left: calc(var(--vw) - 10vw);
    }
    100% {
      opacity: 1;
      left: calc(var(--vw) * .4);   
    }
  }
}

/* iPad */
@media screen and (max-width: 820px) {
  body::after {
    background-size: 45%;
  }

  .left-right {
    z-index: 0;
  }

  .home-width {
    width: 50vh;
  }
  .home-width-2 {
    width: 55vh;
  }

  .para-house {
    right: calc(var(--vw) * .01);
  }
  .para-patron {
    left: calc((var(--vw) * .01));
  }

  @keyframes flyInLeft {
    0% {
      opacity: .2;
      right: calc(var(--vw) - 10vw);
    }
    100% {
      opacity: 1;
      right: calc(var(--vw) * .01);   
    }
  }
  @keyframes flyInRight {
    0% {
      opacity: .2;
      left: calc(var(--vw) - 10vw);
    }
    100% {
      opacity: 1;
      left: calc(var(--vw) * .01);   
    }
  }
  .stack-l img {
    margin-right: -25px;
  }
  
  .stack-r img{
    margin-left: -25px;
  }
}

/* small window */
@media screen and (max-width: 700px) {
  .home-width-2 {
    width: 45vh;
  }
}

/* mobile */
@media screen and (max-width: 575px) {
  body::after {
    background-size: 95.6%;
  }

  .home-width {
    width: 60vh;
  }
  .home-width-2 {
    width: 38vh;
  }
  .home-height {
    height: 450px;
  }

  .line-2 {
    top: 75%;
  }

  .width-10 {
    width: auto !important;
  }
}

/* < 675px height */
@media screen and (max-height: 675px) {
  .page-height {
    height: 500px;
  }
  
  .line-2 {
    top: 73%;
  }
} 

/* low height window */
@media screen and (max-height: 575px) {
  body {
    overflow-y: auto;
    height: 600px;
  }

  body::after {
    overflow-y: auto;
    height: 600px;
  }

  .tiers-stacks {
    margin: 25px;
  }

  .home-height {
    height: 425px;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  
  .line-2 {
    top: 75%;
  }
} 

/* ^^ */
 @media screen and (max-height: 475px) {
  body {
    overflow-y: auto;
    height: 500px;
  }

  body::after {
    overflow-y: auto;
    height: 500px;
  }

  .page-height, .page-center {
    height: 500px;
    overflow-y: hidden;
  }

  .line-2 {
    top: 75px;
  }

  .home-width-2 {
    width: 50vw;
  }

  .tiers-stacks {
    margin: 15px;
  }

  .home-height {
    height: 450px;
    margin-bottom: 25px;
  }
} 