body {
  background-color:#470d0d;
  height: 100vh;
  overflow-y: hidden;
}

.home-container {
  display: flex; 
  flex-direction: column;
  padding: 30px;
  height: 400px;
  transition: all 2s ease;
}
.home-height {
  height: 450px;
}
.home-width {
  width: 90vh;
  flex-shrink: 0;
}
.home-width-2 {
  width: 93vh;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow-x: hidden;
  transition: all 2s ease;
}

.page-height {
  height: 75vh;
  overflow-y: hidden;
}

.tiers-stacks {
  display: flex;
  flex: 0 22%;
  margin: 30px;
  justify-content: center;
  background-color:moccasin;
  cursor: default;
}

.offset-text {
  position: relative;
  top: 50px;
  margin: 0 auto;
  font-size: 2.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:lightsalmon;
  mix-blend-mode: difference;
  cursor: default;
  transition: all 2.25s ease;
}

.offset {
  top: 47px;
}

.color-shifter {
  animation: change-background 4s linear infinite;
  cursor: pointer;
}

.loading {
  cursor: progress;
}

.color-shifter-end {
  animation: change-background 4s linear;
  animation-fill-mode: forwards;
}

@keyframes change-background {
  0% {
    background-color:moccasin;
  }
  25% {
    background-color:navajowhite;
  }
  50% {
    background-color:sandybrown;
  }
  75% {
    background-color:navajowhite;
  }
  100% {
    background-color:moccasin;
  }
}

.left-right {
  position: absolute;
  animation: left-to-right 4.5s infinite;
  transition: all 2.25s ease;
  z-index: -5;
}

.btn-start {
  top: 40px;
  font-size: 3.5em;
  font-weight: bolder;
  background-clip: text;
}

@keyframes left-to-right {
  0% {
    left: 20%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 20%;    
  }
}

/* https://web.dev/css-border-animations/ */
.start {
  --outline: 3px solid #ffc011;
  outline: var(--outline);
  border: var(--outline);
  outline-offset: -2px;
  transition: outline-width 300ms ease, outline-offset 300ms ease;
  -webkit-transition: outline-width 300ms ease, outline-offset 300ms ease;
}

.start:hover,
.start:focus {
  outline: var(--outline);
  box-shadow: 0px 0px 0px 1px #fff inset;
  outline-width: 12px;
  outline-offset: -8px;
}

.display-none {
  display: none;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.line-1 {
  position: relative;
  top: 73%;  
  width: 24em;
  margin: 0 auto;
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  transition: all 1s ease;
}
.line-2 {
  top: 83%;  
}

.gradient-text {
  background: linear-gradient(90deg, #141414 0%, #8a4e4e 45%, #474747 99%);
  background-clip: content-box;
  background-size: 33%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

/* outline snap */
.begin-outline {
  outline: var(--outline);
  outline-width: 12px;
  outline-offset: -8px;
}

/* div outline fx */
.transition-from {
  --spillOutline: 6px solid #fcd874;
  outline: var(--spillOutline);
  border: var(--spillOutline);
  outline-offset: -2px;
  transition: outline-width 3000ms ease, outline-offset 3000ms ease;
}
.transition-to {
  outline: var(--spillOutline);
  outline-width: -300px;
  outline-offset: -100px;
}

.fade-out {
  opacity: 0;
}

/* gamephase [1] tf-intro */
/* ---->---->---- */
.para-house {
  position: relative;
  left: 300px;
  width: 100px;
	height: 50px;
	transform: skew(20deg) rotate(120deg);
	background: linear-gradient(to bottom, #212121 0%,#555 100%);
}

.para-patron {
  position: relative;
  right: 300px;
  width: 100px;
	height: 50px;
	transform: skew(-20deg) rotate(-120deg);
  background: linear-gradient(to bottom, #212121 0%,#555 100%);
}

.flip {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color:#8a4e4e;
  font-size: 2em;
  position: absolute;
  transform: rotate(-90deg);
  margin: 0;
}

.flip-2 {
  font-family:sans-serif;
  font-weight: bold;
  color:#8a4e4e;
  font-size: 2em;
  position: absolute;
  transform: rotate(90deg);
  margin: 0;
}

.fly-in-l {
  animation: flyInLeft 1s linear;
}

.fly-in-r {
  animation: flyInRight 1s linear;
}

@keyframes flyInLeft {
  0% {
    opacity: .2;
    left: 450px;
    transform: rotate(60deg);
  }
  100% {
    opacity: 1;
    left: 300px;
    transform: rotate(120deg);    
  }
}
@keyframes flyInRight {
  0% {
    opacity: .2;
    right: 450px;
    transform: rotate(-60deg);
  }
  100% {
    opacity: 1;
    right: 300px;
    transform: rotate(-120deg);    
  }
}

.lean-l {
  transition: 2s;
}

.lean-r {
  transition: 2s;
}

/* gamephase [2] tt-intro */
/* ---->---->---- */
.move-l {
  margin-left: 10px;
  margin-right: 5px;
}

.move-r {
  margin-right: 10px;
  margin-left: 5px;
}

/* MEDIA QUERIES */
/* small laptop */
@media screen and (max-width: 980px) {
  .home-width {
    width: 95vh;
  } 
  .home-width-2 {
    width: 100vh;
  }
  .para-house {
    left: 390px;
  }
  .para-patron {
    right: 390px;
  }
  @keyframes flyInLeft {
    0% {
      opacity: .2;
      left: 300px;
      transform: rotate(60deg);
    }
    100% {
      opacity: 1;
      left: 390px;
      transform: rotate(120deg);    
    }
  }
  @keyframes flyInRight {
    0% {
      opacity: .2;
      right: 300px;
      transform: rotate(-60deg);
    }
    100% {
      opacity: 1;
      right: 390px;
      transform: rotate(-120deg);    
    }
  }
}

/* iPad */
@media screen and (max-width: 820px) {
  .left-right {
    z-index: -0;
  }

  .home-width {
    width: 50vh;
  }
  .home-width-2 {
    width: 55vh;
  }

  .para-house {
    left: 304px;
  }
  .para-patron {
    right: 304px;
  }
  @keyframes flyInLeft {
    0% {
      opacity: .2;
      left: 204px;
      transform: rotate(60deg);
    }
    100% {
      opacity: 1;
      left: 304px;
      transform: rotate(120deg);    
    }
  }
  @keyframes flyInRight {
    0% {
      opacity: .2;
      right: 204px;
      transform: rotate(-60deg);
    }
    100% {
      opacity: 1;
      right: 304px;
      transform: rotate(-120deg);    
    }
  }
}

/* small window */
@media screen and (max-width: 700px) {
  .home-width-2 {
    width: 45vh;
  }
  .para-house {
    left: 150px;
  }
  .para-patron {
    right: 150px;
  }
  @keyframes flyInLeft {
    0% {
      opacity: .2;
      left: 200px;
      transform: rotate(60deg);
    }
    100% {
      opacity: 1;
      left: 150px;
      transform: rotate(120deg);    
    }
  }
  @keyframes flyInRight {
    0% {
      opacity: .2;
      right: 200px;
      transform: rotate(-60deg);
    }
    100% {
      opacity: 1;
      right: 150px;
      transform: rotate(-120deg);    
    }
  }
}

/* mobile */
@media screen and (max-width: 575px) {
  .home-width {
    width: 60vh;
  }
  .home-width-2 {
    width: 40vh;
  }
  .home-height {
    height: 400px;
  }

  .line-2 {
    top: 70%;
  }

  .para-house {
    left: 150px;
  }
  .para-patron {
    right: 150px;
  }
  @keyframes flyInLeft {
    0% {
      opacity: .2;
      left: 200px;
      transform: rotate(60deg);
    }
    100% {
      opacity: 1;
      left: 150px;
      transform: rotate(120deg);    
    }
  }
  @keyframes flyInRight {
    0% {
      opacity: .2;
      right: 200px;
      transform: rotate(-60deg);
    }
    100% {
      opacity: 1;
      right: 150px;
      transform: rotate(-120deg);    
    }
  }
}

/* < 675px height */
@media screen and (max-height: 675px) {
  .page-height {
    height: 500px;
  }

  .home-height {
    height: 450px;
  }
  
  .line-2 {
    top: 73%;
  }
} 

/* low height window */
@media screen and (max-height: 575px) {
  .home-height {
    height: 375px;
  }
  
  .line-2 {
    top: 63%;
  }
} 

/* ^^ */
 @media screen and (max-height: 475px) {
  .page-height {
    height: 100vh;
    overflow-y: scroll;
  }

  .home-height {
    margin-top: 100px;
    margin-bottom: 25px;
  }
} 